@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ADD8E6;
}

.container{
    width: 430px;
    background-color: whitesmoke;
    border-radius: 10px;
    -webkit-box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.75);
}

.container h1{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 20px 25px;
    border-bottom: 1px solid gray;
}

.container .conteudo{
    margin: 25px 25px 35px;
}

.container .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input{
    height: 60px;
    width: 55px;
    margin: 4px;
    font-size: 24px;
    color: black;
    font-weight: bold;
    background-color:aliceblue;

    border-radius: 5px;
    border: 1px solid #ADD8E6;
    text-align: center;
    text-transform: uppercase;
}

.inputs input:first-child{
    margin-left: 0px;
}

.conteudo .details{
    margin: 20px 0 25px;
}

.details p{
    font-size: 20px;
    margin-bottom: 10px;
}

.conteudo .resetar-btn{
    width: 100%;
    border: none;
    outline: none;
    color: white;
    background-color: #ADD8E6;
    border-radius: 5px;
    font-size: 17px;
    padding: 15px 0;
    cursor: pointer;
}

.conteudo .input-digitacao{
    z-index: -999;
    position: absolute;
    opacity: 0;
}